@font-face {
    font-family: "Outfit";
    src: url(assets/fonts/outfit/Outfit-VariableFont_wght.ttf) format("truetype");
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: "Young Serif";
    src: url(assets/fonts/young-serif/YoungSerif-Regular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
}

:root {
    --white: hsl(0, 0%, 100%);
    --stone-100: hsl(30, 54%, 90%);
    --stone-150: hsl(30, 18%, 87%);
    --stone-600: hsl(30, 10%, 34%);
    --stone-900: hsl(24, 5%, 18%);
    --brown-800: hsl(14, 45%, 36%);
    --rose-800: hsl(332, 51%, 32%);
    --rose-50: hsl(330, 100%, 98%);

    --size-2xs: 0.31rem; /* 5 */ /*25, 30 */
    --size-xs: 0.625rem; /* 10 */
    --size-sm: 0.75rem; /* 12 */
    --size-md: 0.94rem; /* 15 */
    --size-lg: 1.125rem; /* 18 */
    --size-xl: 1.25rem; /* 20 */
    --size-2xl: 1.56rem; /* 25 */
    --size-3xl: 1.875rem; /* 30 */
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    width: 100%;
    max-width: 23.44rem;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Outfit";
    font-size: 1rem;
    font-weight: 500;
    line-height: var(--size-2xl);
    color: var(--stone-600);
    background-color: var(--white);
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--size-xl);
}

img {
    width: inherit;
}

section {
    display: flex;
    flex-direction: column;
    gap: var(--size-2xl);
    width: 100%;
    max-width: 19.875rem;
}

.description {
    display: flex;
    flex-direction: column;
    gap: var(--size-2xl);
    /* margin-top: var(--size-md); */
    margin-block-start: var(--size-md);
}

h1 {
    font-family: "Young Serif", sans-serif;
    font-size: 2.19rem;
    line-height: 2.38rem;
    font-weight: 400;
    color: var(--stone-900);
}

p {
    /* padding-right: 1px; */
    padding-inline-end: 0.0625rem;
}

.preparation {
    /* padding: 18px 0 10px 20px; */
    padding-block: var(--size-lg) var(--size-xs);
    padding-inline-start: var(--size-xl);
    background-color: var(--rose-50);
}

h2 {
    /* margin-bottom: 12px; */
    margin-block-end: var(--size-sm);
    color: var(--rose-800);
    font-size: var(--size-xl);
}

ul {
    max-width: 14.44rem;
    /* padding-left: 20px; */
    padding-inline-start: var(--size-xl);
}

li {
    /* padding-left: 12px;
    margin-bottom: 10px; */
    padding-inline-start: var(--size-sm);
    margin-block-end: var(--size-xs)
}

li::marker {
    font-size: 0.69rem;
}

li span {
    font-weight: 700;
}

hr {
    border: 1px solid var(--stone-150)
}

/* .ingredients h3,
.instructions h3,
.nutrition h3{
    margin-bottom: 18px;
    color: var(--brown-800);
    font-family: "Young Serif";
    font-size: 26px;
    font-weight: 400;
} */

h3 {
    /* margin-bottom: 18px; */
    margin-block-end: var(--size-lg);
    color: var(--brown-800);
    font-family: "Young Serif";
    font-size: 1.625rem;
    font-weight: 400;
}

.ingredients ul,
.instructions ol {
    /* padding-left: 22px; */
    padding-inline-start: 1.38rem;
}

/* ol li {
    padding-left: 12px;
    margin-bottom: 10px;
} */

ol li::marker {
    font-size: var(--size-md);
    font-weight: 700;
    color: var(--brown-800);
}

.nutrition {
    display: flex;
    flex-direction: column;
    /* margin-bottom: 40px; */
    margin-block-end: 2.5rem;
}

.nutrition p {
    /* padding-right: 5px;
    margin-bottom: 10px; */
    padding-inline-end: var(--size-2xs);
    margin-block-end: var(--size-xs);
}

.nutri {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: var(--size-2xl);
    border-bottom: 1px solid var(--stone-150);
    /* padding: 10px 20px 10px 30px; */
    padding-block: var(--size-xs);
    padding-inline-start: var(--size-3xl);
    padding-inline-end: var(--size-xl);
}

.nutri:last-child {
    border-bottom: none;
}

.label {
    flex: 0 0 6.25rem;
}

.value {
    flex: 1;
    color: var(--brown-800);
    font-weight: 600;
}





@media only screen and (min-width: 24.375em) {
    body {
        max-width: 90rem;
        font-size: var(--size-sm);
        line-height: var(--size-xl);
        background-color: var(--stone-100);
    }

    .container {
        width: 90%;
        max-width: 34.69rem;
        /* margin: 70px 0; */
        margin-block: 4.375rem;
        background-color: var(--white);
        border-radius: 20px;
    }

    img {
        width: 90%;
        border-radius: 10px;
        /* margin-top: 20px; */
        margin-block-start: var(--size-xl);
    }

    section {
        width: 90%;
        max-width: 31.25rem;
    }

    .description {
        gap: var(--size-xs);
        /* margin-top: 5px; */
        margin-block-start: var(--size-2xs);
    }

    h1 {
        font-size: var(--size-3xl);
    }

    h2 {
        font-size: var(--size-md);
    }

    li {
        /* margin-bottom: 5px; */
        margin-block-end: var(--size-2xs);
    }

    li::marker {
        font-size: 0.5rem;
    }

    h3 {
        font-size: var(--size-xl);
    }

    /* ol li {
        margin-bottom: 5px;
    } */

    ol li::marker {
        font-size: var(--size-xs);
    }

    .nutrition {
        /* margin-bottom: 15px; */
        margin-block-end: var(--size-md);
    }

    .nutri {
        gap: 7.81rem;
    }
}